<div class='product-box'>
  <div class='container'>
    <div class='row content-box'>
      <div class='col-md-12'>
        <h3><i class='fa fa-shopping-cart'></i> <%= '购物清单' %></h3>
        <hr />
        <div class='row'>
            <% current_cart.cart_items.each do |cart_item| %>
            <div class='col-md-12 cart-item-box'>
              <div class='name'><%= link_to(cart_item.product.title, product_path(cart_item.product)) %></div>
              <div class='price'><%=cart_item.product.price %></div>
              <div class='quantity'>x <%= cart_item.quantity %></div>
              <hr/>
            </div>
            <% end %>
          </div>
        <br/>
        <div class='clearfix'>
          <div class='pull-right'><%= '总计' %> <%= render_cart_total_price(current_cart) %></div>
        </div>

        <hr/>
        <div class='col-md-6 col-md-offset-3'>
        <h3><i class='fa fa-credit-card'></i> <%= '订单信息' %></h3>
          <div class='order-form'>
            <%= simple_form_for @order do |f| %>
              <div class='form-group'>
              <legend><%= '收件人信息' %></legend>
              <%= f.input :shipping_name, placeholder:'姓名', :label => '姓名' %>
              <%= f.input :shipping_address, placeholder:'地址', :label => '收件地址' %>
              <%= f.input :shipping_phone, placeholder:'电话', :label => '电话' %>
              <hr/>
              </div>
              <div class='form-actions'>
                <%= f.submit '生成订单', class: 'btn btn-md btn-default',data: { disable_with: "提交中" } %>
              </div>
            <% end %>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
