<!DOCTYPE html>
<html>
<head>
  <title>admin后台</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
  <div class="container">
    <%= render "common/navbar" %>
    <%= render "common/flashes"%>
    <div class="row">
      <div class="col-md-2 nav-sidebar" >
        <ul class="list-unstyled" >
          <li>
          <%= link_to admin_products_path do %> 
            <span class="fa fa-cube">
            </span> 
            <span><%='商品' %>
            </span><% end %>
          </li>
           <li>
          <%= link_to admin_orders_path do %> 
            <span class="fa fa-th-list">
            </span> 
            <span><%='订单' %>
            </span><% end %>
          </li>
        </ul>
      </div>
      <div class="col-md-10">
        <%= yield %>
      </div>
    </div>
  </div>
</body>
</html>
